body{
    background-color: blueviolet;
}
footer{
    display: flex;
    text-align: center;
    background-color:white;
    height: 100px;
    width: 100%;
    justify-content: center;
}
.icones{
display: flex;
align-items: center;
font-size: xx-large;
justify-content: space-around;
height: 100px;
width: 100px;

gap: 100px;


    
    
}